<div class='card'>
        <h4 class='float-left'> Filter By: </h4>
        <input type='text' [(ngModel)]='this.listFilter'/>
</div>
<div class='table-responsive'>
    <table class='table' *ngIf='products'>
        <thead>
            <tr>
                <th>
                    <button class='btn btn-primary' (click)='this.toggleImage()'>
                        {{this.buttonText}}
                    </button>
                </th>
                <th>
                    Product
                </th>
                <th>
                    Code    
                </th>
                <th>
                    Available
                </th>
                <th>
                    Price
                </th>
                <th>
                    5 Star Rating
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let p of filteredProducts'>
                <td>
                    <img src={{p.imageUrl}} width={{this.imageWidth}} *ngIf='this.showImage'>
                </td>
                <td>
                    {{p.productName}}
                </td>
                <td>
                    {{p.productCode | uppercase | convertToSpaces:'-' }}
                </td>
                <td>
                    {{p.releaseDate}}
                </td>
                <td>
                    {{p.price | currency:'USD':true:0}}
                </td>
                <td>
                    {{p.starRating}}
                </td>
            </tr>
        </tbody>
    </table>
</div>